# Created by .ignore support plugin (hsz.mobi)
### PHPStorm template
.idea/

### Laravel template
/bootstrap/compiled.php
.env.*.php
.env.php
.env


### Vagrant template
.vagrant/


### NetBeans template
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/


### Vim template
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


